<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Dumb Charades</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		
		<!-- Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	    <!-- Website css -->
	    <link rel="stylesheet" href="/css/style.css">

    	<!-- Compiled and minified JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		<style>

		</style>

	</head>
	<body style="background-color: white;">
		<div id="info">
		<h4 class="teal-text col l12 m12 s12"> Can you guess the action ?  </h4>
			<p style="font-size: 19px;" id="time"></p> 
		</div>
		<script src="/js/three.js"></script>
	    <script src="/js/StereoEffect.js"></script>
		<script src="/js/OrbitControls.js"></script>
		<script src="/js/BVHLoader.js"></script>
		<script src="/js/render.js"></script>
		<script >
			var bvh = "<%= bvh %>";
			load_bvh(bvh);
			// toggle_vr( "<%= use_vr %>" )
		</script>

		<div style="top: 73%;  font-size:18px" class="white-text" id="all_buttons">
			<form action="/submit_answer" method="post">
				<input style="display: none;" type="text" value="<%= bvh %>" name="old_name" hint="Congrats you have found a bug.">
				<div class="input-field">
					<p class="teal-text">
						Guess the right action:
					</p>
					 <p>
				      <label>
				        <input name="guess" value="1" type="radio" />
				        <span><%= bvh %></span>
				      </label>
<!-- 				    </p>
				    <p> -->
				      <label>
				        <input name="guess" value="2" type="radio" />
				        <span><%= bvh %></span>
				      </label>
				    </p>
				    <p>
				      <label>
				        <input name="guess" value="3" type="radio"  />
				        <span><%= bvh %></span>
				      </label>
<!-- 				    </p>
				    <p> -->
				      <label>
				        <input name="guess" value="4" type="radio"/>
				        <span><%= bvh %></span>
				      </label>
				    </p>
				    <p>
				      <label>
				        <input name="guess" value="5" type="radio" checked />
				        <span>None of these</span>
				      </label>
				    </p>
				</div>

				<div class="input-field">
					<input type="button" class="btn" value="Pause/Play" onclick="toggle_pause()">
					<input type="submit" class="btn" value="submit" name="next" id="submit_button">
				</div>	
			</form>
		</div>

	</body>
</html>
